<button class="btn btn-outline-primary" routerLink="/stock-get">Get Stocks</button>
<!-- Stocks list table, it hides when there is no Order -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">DateTime</th>
			<th scope="col">Ticker</th>
			<th scope="col">Volume</th>
			<th scope="col">Price</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stocks of Stocks">
			<td>{{stocks.datetime}}</td>
			<td>{{stocks.stockTicker}}</td>
			<td>{{stocks.volume}}</td>
            <td>{{stocks.price}}</td>
			<td>
			  
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>